---
import TestimonialSlider from "@/components/react/TestimonialSlider";
import { markdownify } from "@/lib/utils/textConverter";


export type TestimonialItem = {
  avatar?: string;
  author: string;
  organization: string;
  content: string;
  rating: number;
};

export type Testimonial = {
  title: string;
  description: string;
  testimonial_list: TestimonialItem[];
};

const { testimonial } = Astro.props;
---
<section class="lg:mb-10" style="margin: 0; padding: 3.4em; background-color: #007aff;">
  <div class="container">
    <div class="row text-center">
      <h1 class="h1 text-text" style="color: white;" >What Our Customers Say</h1>
    </div>
    <br/><br/>
      <div class="row mt-2 md:mt-10">
        <div class="col-12">
          <TestimonialSlider list={testimonial.testimonial_list} client:load />
        </div>
      </div>
  </div>
</section>
